#bc-navbar {
    background-color: rgba(97, 153, 209);
    height: 70px;
}
.bc-navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    overflow-x: hidden;
}
.hover:hover{
    box-shadow: 0 0 20px rgba(94, 155, 175, 0.8);
    transition: 0.5s ease;
    border-radius: 20px;
    transform: scale(1.10);
    overflow: hidden;
}
#slika {
    position: fixed;
    top: 70px;
    left: 0;
    width: 200px; 
    height: 100vh; 
    background-image: linear-gradient(rgba(97, 153, 209), rgba(176, 176, 184, 0.801));
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

#slika img {
    width: 100%; 
    height: auto;
    border-radius: 200px;
}

#main-content {
    margin-left: 220px; 
    padding: 70px;
    z-index: 1;

}

.card {
    margin: 10px;
}
.navbar-nav {
    background-color: rgba(97, 153, 209);
} 
@media (max-width: 500px) {
    body{
        overflow-x: hidden;
    }
    #slika {
        max-width: 150px;
        height: auto;
        margin: 0 auto; 
        display: block; 
        position: relative; 
        align-items: center;
    }
    .hover:hover{
        box-shadow: 0 0 20px rgba(94, 155, 175, 0.8);
          transition: 0.5s ease;
    }
    #main-content {
        margin-top: 10px; 
        margin-left: 0;
        margin: 0 auto;
    }
}